/* resetting the page */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* declaring my colours */
:root {
  --cream: #f5f0e8;
  --ivory: #ede8dc;
  --dark: #0d0c0a;
  --carbon: #1a1917;
  --gold: #c9a84c;
  --gold-light: #e8c97a;
  --rust: #8b3a2a;
  --muted: #6b6560;
  --border: rgba(201,168, 76, 0.25);
}

html {
  scroll-behavior: smooth;
}

body {
  background : var(--dark) ;
  color: var(--cream);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  overflow-x: hidden;
  cursor: none;
}

/* nav styles */
nav {
  position: fixed;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 28px 60px;
  width: 100%;
  text-decoration: none;
  background-color: var(--muted);
}

.nav-links {
  display: flex;
  gap: 48px;
  list-style: none;
}

.nav-logo {
  color: var(--gold);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  letter-spacing: 0.2em;
  font-size: 1.5em;
  text-decoration: none;
}

.nav-links a {
  text-decoration: none;
  color: var(--cream);
  font-size: 1rem;
  letter-spacing: 0.2em;;
  opacity: 0.9;
  transition: opacity 0.2s ease-in-out;
}

.nav-links a:hover {
  opacity: 1;
  color: var(--gold);
}

.nav-cta {
  font-size: 0.75rem;
  letter-spacing: 0.2em;
  color: var(--dark);
  background: var(--gold);
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 24px;
  border-radius: 4px;
}

.nav-cta:hover {
  background: #e8c97a;
}